.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.container {
  width: 377px;
  min-height: 290px;
  background-color: white;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
.innerContainer {
  width: 375px;
  min-height: 187px;
  border: 1px solid #e5e7eb;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.boardContainer {
  width: 342px;
  min-height: 138px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 20px;
}
.inputContainer {
  width: 357px;
  height: 38px;
  display: flex;
  gap: 6px;
}
.input {
  width: 280px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #e4e4e7;
}
.inputBox::placeholder {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #a1a1aa;
  padding-left: 8px;
}
.button {
  width: 69px;
  height: 38px;
  background-color: #3c82f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
.Button:active {
  background-color: #1e60d7;
}
.tabItem {
  width: 69px;
  height: 38px;
  background-color: #3c82f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.tabItem:hover {
  background-color: #f3f4f6;
  border-radius: 4px;
  color: black;
}
.tabContainer {
  width: 357px;
  min-height: 38px;
  display: flex;
  gap: 6px;
}
.title {
  font-size: 15px;
  margin: 0 0 6px;
}
.color {
  font-size: 10px;
  color: grey;
  margin: 0 0 10px;
}
.taskContainer {
  width: 357px;
  min-height: 38px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Inter", sans-serif;
  color: black;
}
.taskItem {
  padding: 6px 10px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.taskItem:hover {
  background-color: #f9fafb;
}
